.form-section{
    padding: .7rem;
    & form{
        margin: 1rem;
        & input{
            border: .165rem solid #1b4468;
            padding: .15rem;
            border-radius: .25rem;
            width: 18%;
        }

        & .error-value{
            border: .165rem solid #b72121;
        }

        & .submit-button{
            margin-left: .2em;
            background-color: #d5fbff;
            border: .180rem solid #1b4468;
            padding: .15rem;
            border-radius: .25rem;
            font-weight: 800;
            
        }

    }
}

.colors-section{
    display: flex;
    flex-wrap: wrap;

}

@media only screen and (max-width: 600px) {
    .form-section{
        padding: .9em;

        & form input{
            width: 65%;
            }
        }
    
  }